{% extends "vueAdmin/base_site.html" %}
{% load i18n static %}

{# site stylesheet section #}
{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "vueAdmin/css/pages/passport.css" %}">
{% endblock %}
{# site stylesheet section #}

{% block app %}
  <div id="passport-container">
    <a-alert message="{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}" type="info" ></a-alert>
    <form id="demo-password-reset-from" class="password-reset-form" method="post">
      {% csrf_token %}
      <a-form-item
        {% if form.email.errors %}
          has-feedback
          validate-status="error"
          help="{{ form.email.errors|striptags }}"
        {% endif %}
        label="{% trans 'Email address:' %}"
      >
        {{ form.email }}
      </a-form-item>
      <a-form-item>
        <a-button type="primary" html-type="submit">{% trans 'Reset my password' %}</a-button>
      </a-form-item>
    </form>
  </div>
{% endblock %}
